*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container .bar{
    background: red;
}
.container .bar .title{
    color: #ffffff;
    font-size: 25px;
}

.container .content{
    overflow: auto;
}
.container .content .detail img{
    height: 70px;
    width: 66px;
    border-radius: 50%;
    margin-right: 10px;
}
.container .content .detail .up{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom:1px solid #cccccc;
    font-size: 16px;
}
.container .content .detail .down{
    font-size: 20px;
    border-bottom: 5px solid red;
    padding: 20px;
    height: 125px;
}
.container .content .detail .shuoming{
    padding: 10px;
    font-size: 20px;
}
.container .content .huifu{
    display: flex;
    position: fixed;
    bottom:0;
    width:100%;
}
.container .content .huifu input{
    border:1px solid red;
    height: 44px;
}
#input{
    width:90%;
}
#button{
    width:10%;
    background: red;
}
#huifu li{

}