*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container .bar{
    background: red;
}
.container .bar .title{
    color: #ffffff;
    font-size: 25px;
}

.container .content{
    overflow: auto;
}
.container .content li>a{
    display: flex;
    padding: 5px;
    text-decoration: none;
}
.container .content .picture{
    width:35%;
    margin: 10px;
}
.container .content  li>a .picture img{
    height: 85px;
    width: 120px;
}
.container .content li>a .detail{
    position: relative;
    width: 60%;
}
.container .content li>a .detail .down{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    bottom: 8px;
    height: 25px;
    line-height: 25px;
}
.container .content .zhuangtai{
    height: 25px;
    line-height: 25px;
}
.container .content .zhuangtai img{
    vertical-align: middle;
    height: 15px;
    margin:auto 0 auto 40px;
}