*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background-color: #222222;
}
ul{
    list-style-type: none;
}
.box{
    margin: 50px auto;
    background-color: #999;
    position: relative;
    height: 430px;
    width: 400px;
    overflow: hidden;
}
.box>.up>.detail{
    width: 400px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding:0 10px;
    top: 302px;
    z-index: 2;
    color: #cccccc;
    background-color: #222222;
}
.box>.up>.left{
    width: 200px;
    height: 320px;
    position: absolute;
    left: 0;
    top:0;
    z-index: 2;
}
.box>.up>.left>.pre{
    position: absolute;
    height: 65px;
    width: 64px;
    background: url(动画库和图片/btn.jpg) no-repeat -70px 0;
    left: 10px;
    top:0;
    bottom:0;
    margin:auto;
    z-index: 2;
    opacity:0;
}
.box>.up>.right{
    width: 200px;
    height: 320px;
    position: absolute;
    right: 0;
    top:0;
    z-index: 2;
}
.box>.up>.right>.next{
    position: absolute;
    height: 65px;
    width: 64px;
    background: url(动画库和图片/btn.jpg) no-repeat ;
    right: 10px;
    top:0;
    bottom:0;
    margin:auto;
    z-index: 2;
    opacity:0;
}
.box>.up li{
    width: 400px;
    height: 320px;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
 }
.box>.down>ul{
    display: flex;
    width: 400px;
    position: absolute;
    bottom: 10px;
    left: 0;
}
.box>.down>ul>li{
    height: 94px;
    width: 120px;
    margin-left: 10px;
    opacity: 0.3;
}
.box>.down>ul>li>img{
    height: 94px;
    width: 120px;
}
